@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {  
  margin: 0;
  background-color: rgba($color: #000000, $alpha: 0.05);
  font-family: 'Lato', sans-serif;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.padding-16 {
  padding: 16px;
}

.standard-card {
  background-color: white;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 32px;
  box-sizing: border-box;
}